<div class="container-fluid" style="margin-top: 1em;">
  <div class="well">
    <div class="row-fluid">
      <div class="span9">
        <h1><%= "<i class=\"fa fa-users\"></i> #{t('app.actions.edition').capitalize} #{t('app.model.User')}".html_safe %></h1>
     </div>
     <%= link_to '<i class="fa fa-arrow-circle-left fa-3x action-icon"></i>'.html_safe, users_path ,{:title => "Retour", :class =>"pull-right"} %>
   </div>
 </div>

  <%= simple_form_for(@user, :url => user_path(@user), :html => { :autocomplete => 'off', :method => :put , :class => "well form-horizontal"}) do |f| %>
    <%= devise_error_messages! %>

    <%= f.input :login_name, hint: link_to('Modifier mon mot de passe', '#edit_profile_modal', class: 'btn btn-success btn-small', id: 'profil_mdp', data: { toggle: 'modal' }) %>
    <%= f.input :email %>
    <%= f.input :forename %>
    <%= f.input :surname %>
    <%= f.input :tel %>
    <%= f.input :mobile %>
    <%= f.input :locale, collection: I18n.available_locales, include_blank: 'Locale système' %>
    <% if current_user.has_role?(:admin) %>
      <div class="control-group">
        <label class="control-label" for="role"><%= User.human_attribute_name(:role) %></label>
        <div class="controls">
          <%= select_tag(:role, options_for_select(Role.list_all, :selected => @user_role_name))  %>
        </div>
      </div>
    <% end %>
    <%= f.input :enabled %>

    <div class="modal hide fade" id="edit_profile_modal">
      <div class="modal-header">
        <button type="button" class="close" id="profil_cancel" data-dismiss="modal">×</button>
        <h3>Modification du mot de passe</h3>
      </div>

      <div class="modal-body">
        <%= f.input :current_password, hint: '(obligatoire)' unless current_user.has_role? :super_user %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
      </div>

      <div class="modal-footer">
        <a href="#" id="profil_cancel" class="btn" data-dismiss="modal">Annuler </a>
        <a href="#" id="profil_submit" class="btn btn-primary" data-dismiss="modal">Valider</a>
      </div>
    </div>

    <div>
      <%= f.submit :class =>"btn btn-primary" , :style =>"margin-left: 122px;"%>
    </div>

  <% end %>

</div>
