<div class="container-fluid" style="margin-top: 1em;">
  <div class="well">
    <div class="row-fluid">
      <div class="span9">
         <h1><%= "<i class=\"fa fa-users\"></i> #{t('app.default.new_male_bis').capitalize} #{t('app.model.User')}".html_safe %></h1>
      </div>
      <%= link_to '<i class="fa fa-arrow-circle-left fa-3x action-icon"></i>'.html_safe, :back ,{:title => "Retour", :class =>"pull-right"} %>
    </div>
  </div>

  <%= simple_form_for(@user, as: resource_name, url: users_path, html: { method: :post, class: 'well form-horizontal' }) do |f| %>
    <%= devise_error_messages! %>

    <%= f.input :login_name, hint: ("@#{Setting.ad_domain_value}" if Setting.ad_enabled?) %>
    <%= f.input :email %>
    <%= f.input :password, hint: t('devise.passwords.minimum_length') %>
    <%= f.input :password_confirmation %>
    <%= f.input :forename %>
    <%= f.input :surname %>

    <% if !@first_creation %>
      <% if current_user.has_role?(:admin) %>
        <div class="control-group">
          <label class="control-label" for="role"><%= User.human_attribute_name(:role) %></label>
          <div class="controls">
            <%= select_tag(:role, options_for_select(Role.list_all, :selected => @user_role_name))  %>
          </div>
        </div>
      <% end %>
      <%= f.input :enabled %>
    <% end %>

    <div class="control-group">
      <div class="controls">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
