<%= simple_form_for(@account, html: { class: 'well form-horizontal' }) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4><%= t('app.message.error.occured_error') %></h4>
      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :company %>
  <%= f.input :active, collection: [[ Account.human_attribute_name('active.active'), true], [Account.human_attribute_name('active.inactive'), false]], include_blank: false if @account.persisted? %>
  <%= f.input :adress1 %>
  <%= f.input :adress2 %>
  <%= f.input :zip %>
  <%= f.input :city %>
  <%= f.input :country %>
  <%= f.input :tel %>
  <%= f.input :fax %>
  <%= f.input :email %>
  <%= f.input :web %>
  <%= f.association :origin %>
  <%= f.association :activity %>
  <%= f.input :category, collection: Account::CATEGORIES, include_blank: false %>

  <div class="control-group">
    <label class="control-label" for="display_account_tag">Tag(s) associé(s)</label>
    <div class="controls">
      <%= select_tag :display_account_tag, options_from_collection_for_select(@account.tags.order('name ASC').all, "id", "name"), {:size => 6, :multiple => true} %>
      <a id="account_add_button" class="btn btn-success btn-mini" data-toggle="modal" href="#account_tag_modal" style="margin-bottom: 1em; margin-left: 2em;">Modifier Tag</a>
      <div class="modal hide fade" id="account_tag_modal" style="width: 900px; margin-left: -450px;">
        <%= render "modal_tags" %>
      </div>
    </div>
  </div>

  <%= f.input :turnover, as: :currency %>
  <%= f.input :projected_turnover, as: :currency %>
  <%= f.input :registration_number %>
  <%= f.input :vat_number %>
  <%= f.input :business_sector_code %>
  <%= f.input :identifier %>
  <%= f.input :accounting_code %>
  <%= f.association :payment_term %>
  <%= f.input :periodicity_billing %>
  <%= f.association :user, collection: @users, label_method: :full_name %>
  <%= f.input :notes, input_html: { rows: 6 } %>

  <div class="field">
    <% if !@account.id.nil? %>
      <div class="span9"> Créé par : <%= @account.author.full_name %>, le </strong><%= @account.created_at.strftime("%d/%m/%y à %H:%M") %>. </div> <br />

      <% if !@account.modified_by.nil? %>
        <div class="span9"> Dernièrement modifié par : <%= @account.editor.full_name %>, le <%= @account.updated_at.strftime("%d/%m/%y à %H:%M") %>. </div> <br />
      <% else %>
      <% end %>

    <% end %>
  </div>

  <hr />

  <div class="row">
    <%= f.submit class: 'btn btn-primary' %>
    <% if current_user.has_role?(:admin) or current_user.has_role?(:super_user) %>
      <%= if !@account.id.nil? then  link_to '<i class="fa fa-trash fa-lg"></i>'.html_safe, @account,:title => "Supprimer le compte", :confirm => 'Attention : La suppression du compte entraine la suppression de tous les éléments liés à ce compte (contacts, évènements, devis, documents...) ! Confirmez-vous la suppression ?', :class =>"pull-right btn", :method => :delete end %>
    <% end %>
  </div>
<% end %>


